---
import Button from '../components/Button.astro'
const { name, descriptionShort, descriptionFull, slogan, stack, href } = Astro.props;
---

<li class="card w-full bg-base-100 shadow-xl md:w-96">
	<div class="card-body">
	  <h2 class="card-title">{name}</h2>
	  <p class="text-sm italic text-gray-600">'{slogan}'</p>
	  <p class="my-3 leading-7 text-gray-800">{descriptionFull}</p>
	  <p class="text-gray-500">Made with:</p>
	  <ul class="flex flex-wrap gap-2">
		{stack.map((el: []) => (
			<li class="px-2 py-1 border-2 border-gray-300 rounded-lg text-gray-600">{el}</li>
		))}
	  </ul>
	  <div class="card-actions justify-end mt-3">
		<Button text={'Live preview'} styles={'btn-accent'}/>
		<Button type={'link'} text={'Code'} />
	  </div>
	</div>
</li>