<aside class="flex justify-between items-center p-4 md:px-10 lg:px-20">
	<h1 class="font-bold text-xl">
		comoestassergio
	</h1>
	<nav class="flex items-center gap-3 uppercase text-sm md:gap-5 lg:gap-6">
		<a href="#" class="btn">Resume</a>
		<a href="#" class="btn btn-ghost">Contact</a>
	</nav>
</aside>