---
import Button from "./Button.astro";

const { firstName, lastName, title, text} = Astro.props
---

<div class="flex flex-col min-h-screen justify-center mt-5 p-5 md:max-w-lg md:mx-auto md:items-center">
    <h1 class="text-5xl max-w-sm md:max-w-lg">
        <span class="text-gray-600">{firstName}</span> 
        <span class="font-bold">{lastName}</span></h1>
    <p class="capitalize text-2xl font-light text-gray-500 mt-5">{title}</p>
    <p class="mt-10 leading-8 max-w-sm text-gray-800 text-lg md:text-center">
        {text} 
    </p>
    <div class="flex items-center mt-8 gap-2 md:flex-col">
        <Button
            type={'secondary'} 
            text={'See my projects'}
            classes={'shadow-lg shadow-secondary/50'}
        />
        <Button 
            href={'/contact'} 
            type={'ghost'}
            text={'Contact'}
        />
    </div>
</div>