<div class="text-center mx-auto mt-10">
    <img src="https://api.lorem.space/image/face?w=200&h=200" width="200" class="rounded-full mx-auto" alt="profile-img">
    <h2 class="text-2xl mt-10 mb-1">Hi there!</h2>
    <h1 class="text-3xl">I'm <span class="font-bold">Serge</span> Chernyavski</h1>
    <p class="text-lg italic">a Web Developer</p>
</div>